<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <!-- Listener estándar de TestNG para el emailable-report -->
        <listener class-name="org.testng.reporters.EmailableReporter2"/> <!-- Opcional: para el reporte HTML clásico -->
        <listener class-name="org.testng.reporters.XMLReporter"/>
    </listeners>

    <test verbose="2" name="Pruebas automatizadas GC Web">
        <classes>
            <!--      <class name="tests.UrlTest"/> -->
           <!--      <class name="tests.LoginTest"/> -->
            <!--          <class name="tests.ModulesMNPTest"/> -->
                  <class name="tests.ModulesMPTest"/>
            <!--        <class name="tests.EmergencyWLTest"/>  -->
                <!-- <class name="tests.SurgeryWLTest"/> -->
            <!-- <class name="tests.AllergiesAlertsTest"/> -->
            <!-- <class name="tests.DiagnosticsTest"/> -->
            <!-- <class name="tests.DietsAndRecommendationsTest"/> -->
            <!-- <class name="tests.BloodProductsTest"/> -->
            <!-- <class name="tests.ConsumptionAllocationsTest"/> -->
            <!-- <class name="tests.BalanceRegistryTest"/> -->
            <!-- <class name="tests.AddMedicationTest"/> -->
            <!-- <class name="tests.InterventionsTest"/> -->
            <!-- <class name="tests.NursingAssessmentTest"/> -->
            <!-- <class name="tests.NursingInterventionTest"/> -->
            <!-- <class name="tests.PharmacyValidationTest"/> -->
            <!-- <class name="tests.PropuestaIntervencionTest"/> -->
            <!-- <class name="tests.ScaleRecordTest"/> -->
            <!-- <class name="tests.VitalSignsRecordTest"/> -->
            <!-- <class name="tests.WoundsRecordTest"/> -->
            <!-- <class name="tests.DietsTest"/> -->
            <!-- <class name="tests.CuidadosTest"/> -->
            <!-- <class name="tests.EvolucionTest"/> -->
            <!-- <class name="tests.OxigenoterapiaTest"/> -->
            <!-- <class name="tests.AnathomyTest"/> -->
            <!-- <class name="tests.RadiologyTest"/> -->
            <!-- <class name="tests.RegistroImplantesTest"/> -->
            <!-- <class name="tests.HospitalizationWLTest"/> -->
            <!-- <class name="tests.LaboratoryTest"/> -->

        </classes>
    </test>
</suite>
